<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanzhu.mapper.finance.FinanceCategoryMapper">
    <resultMap id="FinanceCategoryResultMap" type="com.shanzhu.entity.finance.FinancialCategoryDO">
        <!-- 主键映射 -->
        <id property="id" column="id" />
        <!-- 普通字段映射 -->
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="icon" column="icon" />
        <result property="color" column="color" />
        <result property="sort" column="sort" />
        <result property="remark" column="remark" />
        <result property="parentCode" column="parent_code" />
        <!-- 逻辑删除标志 -->
        <result property="delFlag" column="del_flag" />
        <!-- 继承自 BaseEntity 的字段 -->
        <result property="createId" column="create_id" />
        <result property="createTime" column="create_time" />
        <result property="updateId" column="update_id" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <insert id="insertBatch">
        insert into biz_financial_category (id,name, code, icon, color, sort, remark, parent_code, del_flag, create_id, create_time, update_id, update_time)
            VALUES
            <foreach collection="financeCategoryDOs" item="financialCategoryDO" separator=",">
                (#{financialCategoryDO.id},#{financialCategoryDO.name}, #{financialCategoryDO.code}, #{financialCategoryDO.icon}, #{financialCategoryDO.color}, #{financialCategoryDO.sort}, #{financialCategoryDO.remark}, #{financialCategoryDO.parentCode}, #{financialCategoryDO.delFlag}, #{financialCategoryDO.createId}, #{financialCategoryDO.createTime}, #{financialCategoryDO.updateId}, #{financialCategoryDO.updateTime})
            </foreach>
    </insert>
    <delete id="deleteAll">
        delete from biz_financial_category
    </delete>
</mapper>